body{
    font-family:"Roboto Condensed",Georgia;
    background-color:#f3d4b9;
    }
    
    
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #659dbd;
    }

li {
    float: left;
    font-size: 12pt;
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    }
   
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

li a:hover {
            background-color: #8d8741;
            color: white;

          }
 
h1{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img{
 width:100%
}

/* CSS FOR HOW TO USE PAGE */
.HowTo {
    background-color: aliceblue;
    margin:auto;
    display: grid;
    grid-template-areas: 
    'header header'
    'step1ins step1img'
    'step2ins step2img';
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;

  }
  .header{
    grid-area: header;
    text-align: center;
  }
  .step1ins{
    grid-area: step1ins;
    text-align: center;
    width:50%;
  }
  .step1img{
    grid-area:step1img;
    width:50%;
 
  }
  .step2ins{
    grid-area: step2ins;
    text-align: center;
    
  }
  .step2img{
    grid-area: step2img;
    width:50%;
  }
