<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Your Recipe!</title>
    <style>
     
      h1 {
        text-align: center;
        font-size: 16pt;
      }
      form {
        border: 1px solid gray;
        padding: 10px;
        text-align: center;
      }
      label{
        padding:0px 50px 50px 0px 
      }
      img {
        width: 100%;
      }
      br{
        padding:10px;
      }
    </style>
  </head>
  <body>
    <h1>What's in your fridge?</h1>
    <form id="form" action="" method="post">
      <label for="">The Ingredients: <input type="text" name="ingredient" value="Please enter the leftover ingredients in your fridge. " /></label>
      <label for=""># of Recipes: <input type="text" name="num_return" value="Please enter the amount of Recipes you want to see. "></label>
      <br>
      <button type="submit">Search Recipes</button>
    </form>
    <img src="projectwebsite/images/fridge.jpg">

  </body>
</html>
