<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Recipes!</title>
</head>
<body>
    <h1>Your Results:</h1>
    <p>
      The closest station to {{location_name}} is stop
      <strong>{{station_0}}</strong> located at {{station_2}} and it is
      <strong>{{station_1}}</strong>.
    </p>
    <p id="map">Click below to open this location in Google Maps:</p>
    <div>{{html_map | safe}}</div>
    
</body>
</html>